.container {
  
    .tree-container {
        border-right: 1px solid rgb(209, 210, 214);
        box-shadow: 4px 0px 5px 0px rgba(217, 218, 221, 0.56);
        height: 100vh;
    }
    .result-container {
        // border: 1px solid red;
        height: 100px;
    }
}